
.header-image
{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;

}

.test{
position: relative;
margin-right: auto;
margin-left: auto;
width: 1000px;
height: 800px;
margin-top: 5px;
padding: 60px;
}

.testimonial-carousel{

  text-align: center;
  background-color: #D3EAD3;
  color: #086008;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;

    border-radius: 24px;
    padding: 1% 4%;
    width: 65%;
    position: absolute;

}

.carousel-inner{
  background-color: #D3EAD3;
  border-radius: 24px;
margin-top: 400px;


}

/* דמויות-01 */
.img{

  display: block;
  margin-right:25%;
position: absolute;
z-index: 1;

}

.carousel-item{
  padding: 10% 15%;
  text-align: center;

}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px; /* change width */
    height: 10px; /* change height */
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #ffff;
    cursor: pointer;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%;  /* add border-radius */

}
.carousel-indicators .active {

    background-color: #086008;
}

@media (max-width: 1028px) {
  
  .header-image
  {

    width: 30%;

  }
  .H2
  

  .test{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  height: auto;
  margin-top: 5px;
  padding: 60px;
  }
  .img{

    display: block;
    margin-right:10%;
  position: absolute;
  z-index: 1;
  width: 20%;

  }

  .carousel-inner{
    background-color: #D3EAD3;
    border-radius: 24px;
  margin-top: 300px;

  }

  }
